* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(220, 220, 231);
}

.powered {
  width: 200px;
  margin-left: 10px;
}

.title1 {
  font-size: 40px;
  font-weight: bold;
  margin: auto 10px;
  text-align: start;
  color: #3a4b5c;
}

p {
  color: #6a7d8b;
}

.calcbutton {
  background-color: #227c9d;
  color: #fff;
  border: 1px solid #227c9d;
  border-radius: 10px;
  padding: 10px 40px;
  font-weight: bold;
  transition: all 0.5s linear;
  margin: 20px auto auto auto;
  width: 320px;
}

.calcbutton:hover {
  background-color: #fff;
  color: #227c9d;
}

input {
  border: none;
  border-bottom: 1px solid #227c9d;
  background-color: rgb(220, 220, 231);
}

.gridItem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.resBig {
  display: flex;
  flex: 1;
  width: auto;
  height: 400px;
}
