.main {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
}

.gridIcon {
  width: 70px;
  height: 70px;
  padding: 10px;
  margin: 5px auto;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GridTitle {
  margin: 15px 10px;
  font-size: 20px;
  font-weight: bold;
}

.gridInfo p {
  font-size: 13px;
  color: #fff;
}

.userIMC {
  margin-top: 10px;
  margin-bottom: 10px;
}

.userIMC p {
  color: #fff;
}
